.root {
    -fx-background-image: url("background_image.png");
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 17px;
}

.gameBoard {
    -fx-border-color: linear-gradient(#2A5058, #61a2b1);
    -fx-border-width: 12px;
    -fx-border-radius: 12px;
}

.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.ipad-dark-grey {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-border-width: 3px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.ipad-dark-grey:hover {
    -fx-background-color: #222222;
    -fx-border-color: #aaaaaa;
    -fx-text-fill: #aaaaaa;
}

.ipad-dark-grey:pressed {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-fill: red;
    -fx-text-fill: red;
}

.startMenuStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.scoreClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 38;
    -fx-fill: white;
    -fx-text-fill: white;
}

.highScoreClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 28;
    -fx-fill: cyan;
    -fx-text-fill: cyan;
}

.pauseStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-fill: white;
    -fx-text-fill: white;
}

.pauseOverlay {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}